.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45%;
    /* border-collapse: collapse; */
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
}

.table tr > th, .table tr > td {
    padding: 0.7rem;
}

.table tr > th {
     font-size: 1.5rem;
}

.table tr > td {
    font-size: 1.2rem;
}

.table tr:nth-child(even) {
    background-color: rgb(228, 255, 247);
}


